.expandableChild {
    display: none;
  }
  .expandableChild.expanded {
    display: block;
    margin-top: 15px;
    background: #04365f;
  }
  .expandableChild.expanded li {
    padding-left: 10px;
  }
  //    .expandableChild.expanded li:last-child{padding-bottom: 0;}
  .left-menu-link {
    position: relative;
    display: flex;
    padding: 0 15px;
    align-items: center;
    i {
      transition: all ease 0.2s;
    }
    &.active {
      i {
        transform: rotate(180deg);
      }
    }
  }
  .left-menu-link .toggle-ico:before {
    position: absolute;
    content: "v";
    color: #fff;
    top: 26px;
    line-height: 0;
    right: 0px;
    font-size: 16px;
  }
  .left-menu-link.active .toggle-ico:before {
    content: "^";
  }
  
  .arrow-pr {
    padding-right: 10px;
  }
  
  .notificationForCall {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  
    .mainContent {
      border: 1px solid lightgray;
      background-color: white;
      box-shadow: 0px 2px 2px lightgray;
      border-radius: 5px;
    }
  }
  
  @media (max-width: 767px) {
    .arrow-pr {
      padding-right: 30px;
    }
  }
  
  .imgIcon {
    color: white;
  }
  