<div class="content-inner-wrapper">
  <h2>Welcome on Care Dashboard</h2>

  <div class="dashboard-section">
    <div class="row">
      <div class="col-sm-6">
        <div class="box-patient">
          <h3>Patients</h3>
          <p>
            <img src="../../../../assets/img/patient.svg" />{{ patientLength }}
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="box-appointment">
          <h3>Appointments</h3>
          <p>
            <img src="../../../../assets/img/calendar.svg" />{{
              appointmentLength
            }}
          </p>
        </div>
      </div>
      <!-- <div class="col-sm-4"> -->
      <!-- <div class="box-availabiity">
              <h3>Set Availabiity</h3>
              <p>50</p>
            </div> -->
      <!-- <div class="btn-se" style="padding-top: 25px;">
                <button type="submit" class="btn btn-add-con">Set Availability</button>
            </div> -->
      <!-- </div> -->
    </div>
  </div>

  <div class="appointment-request-section">
    <h3>Appointment Request</h3>

    <div class="table-responsive">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 conditions_alignment_tab"
        matSort
      >
        <ng-container matColumnDef="PatientName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Patient Name
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.patientfirstName }} -{{ element.patientlastName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="PatientPhoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Patient Contact
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.patientPhoneNumber }}
          </td>
        </ng-container>

        <!-- <> -->

        <ng-container matColumnDef="ProviderName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Provider Name
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.careTeamFirstName }}-{{ element.careTeamLastName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="ProviderPhoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Provider Contact
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.careTeamPhoneNumber }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Proffesion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Specialization
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.careTeamSpecialization }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.appointment_date | date: "mediumDate" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Starttime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            From
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.appointment_time | date: "shortTime" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Endtime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            To
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.appointment_end_time | date: "shortTime" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="sessionType">
          <th mat-header-cell *matHeaderCellDef class="session" mat-sort-header>
            Type
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.sessionType }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element" class="edit-open-img">
            <span class="accept-bg cursor" (click)="openDialog(element)"
              >Accept</span
            >
            <!-- <span class="Decline-bg">Decline</span> -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</div>
<!-- <menow> -->
<div class="loaderScreen" *ngIf="isLoader">
  <div class="mainContent">
    <mat-progress-spinner> </mat-progress-spinner>
    <span class="loader">Welcome to Curio. Loading your content...</span>
  </div>
</div>
