.form-section {
  padding: 30px 15px;
}
.form-section form input {
  height: 50px;
}
.form-section form .profile_read {
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-section .label-bold {
  font-weight: 500;
  color: #000;
}
.form-section span {
  color: #1b82d4;
}
.save-btn-modal {
  background: #1b82d4;
  color: #fff;
  border-radius: 4px;
  margin-left: 5px !important;
  border: none !important;
  width: 80px;
  cursor: pointer;
  height: 45px;
}
.save-btn-modal:hover {
  background: rgb(9, 77, 133);
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  display: flex;
  justify-content: center;
  align-items: center;
  .mainsection {
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 2px 2px lightgray;
    form {
      display: flex;
      flex-direction: column;
    }
  }
}
