.mat-form-field {
  display: block;
}

textarea {
  height: 100px;
  resize: vertical;
}

.submit_referal {
  margin: 15px;
  padding: 10px;
}
.custum-modal {
  height: auto;
  min-height: 325px !important;
}
.closebtn {
  margin-left: 5px;
}
