// .footer-login{padding: 15px 30px;background: #FFFFFF 0% 0% no-repeat padding-box;float: right;
//     display: -webkit-box;
//     display: flex;
  
//     width: calc(100% - 200px);
//     background: #fff;
//     -webkit-transition: all 0.2s ease-out;
//     transition: all 0.2s ease-out;}
.footer-login{padding: 15px 30px;background: #FFFFFF 0% 0% no-repeat padding-box;
    
    
    text-align: center;
      width: calc(100% - 0px);
      background: #fff;
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;}
  .footer-login p{color: #51566A;font-weight: 600;margin-bottom: 0;font-size: 12px;}